@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Resturant Rater</h1>
    <p class="lead">Resturant Rater is Our first hand on project in red badge using HTML, CSS and JavaScript. It is a rating app</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To Rate a Resturant click on the navbar button link or cleick below the button that says Rate a Restaurant.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Rate Restaurant &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Information</h2>
        <p>Click here to learn more about Resturant Rater</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get in Touch</h2>
        <p>Click here to contact the owner of Resturant Rater with your Comments/concerns</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>